.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___left img, 
.fighter-preview___right img {
  max-height: 220px;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-info {
  background-color: #CBE4F8;
  border: 5px solid #267abf;
  border-radius: 5px;
  width: 70%;
  text-align: center;
}

.fighter-name {
  font-family: 'Press Start 2P', cursive;
}
